@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navigation */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: rgba(18, 18, 18, 0.7);
  z-index: 1;
  .navigation {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .title {
      a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
        .s1 {
          color: #7b7777;
        }
      }
    }
    .nav-d2 {
      display: flex;
      align-items: center;
      gap: 30px;
      .menu {
        display: flex;
        align-items: center;
        gap: 30px;
        .ul1 {
          display: flex;
          align-items: center;
          gap: 30px;
          list-style: none;
          a {
            color: #7b7777;
            text-decoration: none;
            font-size: 14px;
          }
          a:hover {
            color: white;
          }
          button {
            background-color: inherit;
            border: none;
            color: #7b7777;
            transform: translateY(-3px);
          }
          .dropdown a {
            display: block;
            margin-top: 10px;
          }
          .dropdown .content {
            display: none;
            width: 120px;
            height: 140px;
            text-align: center;
            position: absolute;
            transform: translateX(-30px);
            margin-top: 0px;
            background: rgba(18, 18, 18, 0.7);
          }
          .dropdown {
            display: inline-block;
          }
          .dropdown:hover .content {
            display: block;
            color: white;
          }
          .dropdown a:hover {
            color: white;
          }
        }
      }
      .search {
        input {
          outline: none;
          background-color: inherit;
          border: none;
          border-bottom: 1px solid #7b7777;
          height: 40px;
          color: white;
          padding-left: 10px;
          position: relative;
        }
        i {
          color: #7b7777;
          position: relative;
          left: -30px;
        }
      }
      .login-in {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        i {
          color: #7b7777;
          font-size: 20px;
        }
        .btnLogin-popup {
          background-color: transparent;
          color: #7b7777;
          border: none;
          font-size: 14px;
        }
        .btnLogin-popup:hover {
          color: white;
          cursor: pointer;
        }
      }

      .basket {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        i {
          color: #7b7777;
          font-size: 20px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .ham-menu {
    height: 50px;
    width: 30px;
    margin-left: auto;
    position: relative;
    display: none;
    span {
      height: 5px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      display: none;
    }
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.off-screen-menu {
  background-color: rgba(4, 4, 4, 1);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  right: -4030px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
  .nav-d2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      .ul1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;
        a {
          color: #7b7777;
          text-decoration: none;
          font-size: 14px;
        }
        a:hover {
          color: white;
        }
        button {
          height: 30px;
          background-color: inherit;
          border: none;
          color: #7b7777;
          transform: translateY(-2px);
        }
        .dropdown a {
          display: block;
          margin-top: 10px;
        }
        .dropdown .content {
          display: none;
          width: 120px;
          height: 140px;
          text-align: center;
          position: absolute;
          transform: translateX(-30px);
          margin-top: 0px;
          background: rgba(18, 18, 18, 0.7);
        }
        .dropdown {
          display: inline-block;
        }
        .dropdown:hover .content {
          display: block;
          color: white;
        }
        .dropdown a:hover {
          color: white;
        }
      }
    }
    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        outline: none;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #7b7777;
        height: 40px;
        color: white;
        padding-left: 10px;
        position: relative;
      }
      i {
        color: #7b7777;
        position: relative;
        left: -30px;
        font-size: 22px;
      }
    }
    .login-in {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      i {
        color: #7b7777;
        font-size: 20px;
      }
      .btnLogin-popup {
        background-color: transparent;
        color: #7b7777;
        border: none;
        font-size: 14px;
      }
      .btnLogin-popup:hover {
        color: white;
        cursor: pointer;
      }
    }

    .basket {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      i {
        color: #7b7777;
        font-size: 20px;
      }
      a {
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
    }
  }
}
.off-screen-menu.active {
  right: 0;
}
/* sec1 */
.sec1 {
  display: flex;
  flex-direction: column;
  background-color: #020202;
  color: white;
  padding-top: 100px;
  align-items: center;
  /* margin-top: 100px; */
  .product {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    .d1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .rotation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 15px;
        a {
          text-decoration: none;
          color: white;
          cursor: pointer;
          transition: 0.2s;
        }
        p {
          color: #8a8a8a;
        }
        a:hover {
          color: grey;
          cursor: pointer;
        }
      }
      .rotation2 {
        display: flex;
        align-items: center;
        gap: 5px;
        button:nth-child(1) {
          color: #8a8a8a !important;
        }
        button {
          background: inherit;
          border: none;
          color: white;
          transition: 0.2s;
        }
        button:hover {
          color: grey;
          cursor: pointer;
        }
      }
    }
    .d2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 200;
      /* background-color: yellow; */
      .left-div {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .imgdiv {
          width: 500px;
          height: 500px;
          img {
            width: 500px;
            height: 500px;
          }
        }
        .titlediv {
          width: 500px;
          font-size: 14px;
        }
      }
      .right-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* background-color: red; */
        .title-div {
          font-size: 15px;
        }
        .rating {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .star-review {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
              font-weight: 200;
              font-size: 14px;
            }
          }
        }
        .price-div {
          display: flex;
          gap: 10px;
          font-size: 22px;
          font-weight: 600;
          position: relative;
          p:nth-child(1)::after {
            content: "";
            display: flex;
            width: 85px;
            height: 2px;
            position: absolute;
            left: -5px;
            top: 15px;
            background-color: white;
          }
        }
        .blue-color {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;
          .b-x {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 1px solid white;
            background-color: #073763;
          }
        }
        .button-divs {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .add-cart-like {
            display: flex;
            gap: 5px;
            button:nth-child(1) {
              width: 290px;
              height: 50px;
              background-color: inherit;
              color: white;
              border: 1px solid white;
              font-size: 17px;
              font-weight: 500;
              transition: 0.2s;
            }
            button:nth-child(1):hover {
              background-color: white;
              color: black;
              cursor: pointer;
            }
            button:nth-child(2) {
              width: 50px;
              height: 50px;
              font-size: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: inherit;
              color: white;
              border: 1px solid white;
              transition: 0.2s;
            }
            button:nth-child(2):hover {
              background-color: white;
              color: black;
              cursor: pointer;
            }
          }
          .buy-nowdiv {
            button {
              width: 345px;
              height: 50px;
              font-size: 17px;
              border: 1px solid white;
              background-color: white;
              font-weight: 600;
              transition: 0.2s;
            }
            button:hover {
              background-color: inherit;
              cursor: pointer;
              color: white;
            }
          }
        }
        .prod-infodiv {
          width: 350px;
          .accordion-wrapper {
            .accordion {
              border-bottom: 1px solid white;

              .accordion-content {
                display: none;
                padding: 10px;
                animation: animate 0.2s linear backwards;
                line-height: 2;
                transform-origin: top;
              }
              @keyframes animate {
                0% {
                  transform: scale(0);
                }
              }
            }
            .accordion.active {
              border: none;

              .accordion-heading {
                color: #ffffff;
              }
            }
            .accordion.active .accordion-content {
              display: block;
            }
            width: 350px;
            .accordion-heading {
              width: 345px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
            }
            .accordion-heading::after {
              content: "\002B";
              display: block;
              font-size: 20px;
              font-weight: 100;
            }
            .accordion-heading.active::after {
              content: "\2212";
              display: flex;
              font-size: 20px;
              font-weight: 100;
            }
            .accordion-content {
              width: 345px;
              /* height: 10px; */
              border-bottom: 1px solid white;
            }

            .accordion-content.active {
              height: 10px;
              p {
                display: none;
              }
            }
          }
        }
      }
    }
    .d3 {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 200;
      h1 {
        font-weight: 500;
        font-size: 28px;
      }
      .star-rating {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .stars {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .leave-review {
          button {
            width: 250px;
            height: 45px;
            background-color: inherit;
            border: 1px solid white;
            color: white;
            transition: 0.2s;
            cursor: pointer;
          }
          button:hover {
            background-color: white;
            color: black;
          }
        }
      }
      .rating-diagram {
        width: 460px;
        height: 164px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        .diagram {
          display: flex;
          gap: 20px;
          align-items: center;
          .diag1 {
            width: 362px;
            height: 8px;
            background-color: #424242;
            .diag2 {
              width: 181px;
              height: 8px;
              background-color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
    .d4 {
      display: flex;
      flex-direction: column;
      .reviews-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 200;
        font-size: 14px;
        height: 70px;
        border-bottom: 1px solid white;
        .by {
          display: flex;
          align-items: center;
          gap: 30px;
          .filter-by-rating {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
      .comments {
        display: flex;
        gap: 10px;
        font-weight: 200;
        font-size: 15px;
        border-bottom: 1px solid white;
        padding-block: 30px;
        .comment1 {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .author {
            display: flex;
            justify-content: space-between;
            .Ava {
              display: flex;
              align-items: center;
              gap: 10px;
              .dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: white;
              }
            }
          }
          .author-rating {
            display: flex;
            align-items: center;
            gap: 10px;
            .verify {
              width: 100px;
              height: 25px;
              background-color: #787474;
              border-radius: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
            }
          }
          .auth-comment {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
          }
          .was-helpful {
            display: flex;
            gap: 10px;
            .thumb {
              display: flex;
              gap: 5px;
              align-items: center;
              ion-icon {
                font-size: 20px;
              }
            }
          }
          .owner-answer {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            background-color: #353535;
            padding: 15px;
            .author {
              display: flex;
              .aut {
                display: flex;
                align-items: center;
                gap: 10px;
                .dot {
                  width: 4px;
                  height: 4px;
                  background-color: white;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
    .d5 {
      width: 250px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 200;
      font-size: 15px;
      margin-bottom: 20px;
      transition: 0.2s;
      .prev {
        display: flex;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
      }
      .next {
        display: flex;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
      }
      p:hover {
        color: grey;
        transition: 0.2s;
      }
    }
  }
  .d6 {
    width: 100%;
    height: 600px;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    h1 {
      font-size: 20px;
    }
    .bag-row {
      /* display: flex;
        width: 98%;
        align-items: center;
        justify-content: space-between; */
      /*  flex-wrap: wrap; */
      gap: 20px;
      .bag-div {
        width: 330px;
        height: 330px;
        position: relative;
        /* overflow: hidden; */
        transition: 0.3s;
        @keyframes amosvla {
          0% {
            transform: translateY(20px);
          }
        }
        img {
          width: 330px;
          height: 330px;
        }
        .qv {
          width: 330px;
          height: 330px;
          background-color: red;
          overflow: hidden;
        }
        .qv .quick-view {
          position: absolute;
          /* top: 100%; */
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 330px;
          height: 50px;
          background-color: #bfbfbf;
          font-size: 13px;
          color: black;
          transition: 0.5s ease;
          transform: translateY(0%);
        }
      }
      .bag-div:hover .quick-view {
        transform: translateY(-100%);
      }
    }
    .carousel {
      width: 94%;
      height: 500px;
      white-space: nowrap;
      display: flex;
      font-size: 16px;
      overflow: hidden;
      cursor: pointer;
      scroll-behavior: smooth;
      .img_carousel {
        img {
          width: 340px;
          object-fit: cover;
          width: calc(100% / 3);
        }
      }
    }
    i {
      top: 35%;
      width: 46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      font-size: 25px;
      font-weight: 200;
      position: absolute;
      transition: 0.2s;
    }
    .first-child {
      left: 10px;
    }
    i:last-child {
      right: 10px;
    }
    i:hover{
      color: grey;
    }
  }
  #panel {
    display: flex;
  }
  .reg-section {
    display: none;
    /* background-image: url(../../Photos/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.webp); */
    background-size: 100% 100%;
    /*  width: 100%; */
    /*  height: 750px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: transform 0.5s ease, height 0.2s ease;
    .wrapper {
      position: relative;
      width: 400px;
      height: 440px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease, height 0.2s ease;
      overflow: hidden;
      transform: scale(0);
      .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: white;
        font-size: 2em;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;

        cursor: pointer;
        z-index: 1;
      }
      .form-box {
        width: 100%;
        padding: 40px;
        h2 {
          font-size: 2rem;
          color: #ffffff;
          text-align: center;
        }
      }
      .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid white;
        margin: 30px 0;

        input:focus ~ label,
        input:valid ~ label {
          top: -5px;
        }
        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          font-size: 1rem;
          color: white;
          font-weight: 500;
          pointer-events: none;
        }
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          color: white;
          font-size: 1em;
          font-weight: 600;
          padding: 0 35px 0 5px;
        }
        .icon {
          position: absolute;
          right: 8px;
          font-size: 1.2rem;
          color: white;
          line-height: 57px;
        }
      }
      .remember-forgot {
        font-size: 0.9em;
        color: white;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content: space-between;

        label input {
          accent-color: rgb(255, 255, 255);
          margin-right: 3px;
        }
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .btn {
        width: 100%;
        height: 45px;
        background: white;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        color: black;
        font-weight: 500;
      }
      .login-register {
        font-size: 0.9em;
        color: white;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;

        p a {
          color: rgb(118, 118, 118);
          text-decoration: none;
          font-weight: 600;
        }
        p a:hover {
          text-decoration: underline;
        }
      }
      .form-box.login {
        /* display: none; */
        transition: transform 0.18s ease;
        transform: translateX(0);
      }

      .register {
        position: absolute;
        transform: translateX(400px);
      }
    }
    .wrapper.active {
      height: 520px;

      .form-box.login {
        transition: none;
        transform: translateX(-400px);
      }
      .form-box.register {
        transition: none;
        margin-top: -440px;
        transform: translateX(0px);
        transition: transform 0.18s ease;
      }
    }
    .wrapper.active-popup {
      transform: scale(1);
    }
  }
}

/* footer */
footer {
  width: 100%;
  height: 156px;
  box-shadow: 10px 0px 10px 0px black;
  display: flex;
  background-color: #1a1919;
  align-items: center;
  justify-content: space-around;
  color: #a29c9c;
  a {
    color: #a29c9c;
  }
  .first {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .second {
    width: 45%;
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    gap: 20px;
    ul {
      list-style: none;
    }
  }
}
/* fixxed divs */
.social1 {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  bottom: 380px;
  right: 0px;
  position: fixed;
  a{
    transition: 0.2s;
    color: white;
  }
  a:nth-child(1):hover{
    color: rgb(0, 76, 255);
  }
  a:nth-child(2):hover{
    color: rgb(255, 0, 0);
  }
  a:nth-child(3):hover{
    color: rgb(195, 0, 255);
  }
}
.txtMessage {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  bottom: 50px;
  right: 15px;
  box-shadow: 0px 0px 3px 0px white;
  position: fixed;
  i{
    transition: 0.2s;
  }
  i:hover{
    cursor: pointer;
    color: grey;
  }
}
@media (max-width: 660px) {
  .reg-section {
    width: 350px;
  }
  .txtMessage {
    width: 100%;
    height: 40px;
    font-size: 20px;
    bottom: 0;
    left: 0;
  }
  .social1 {
    display: none;
  }
}
@media (max-width: 1000px) {
  nav {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    .navigation {
      width: 100%;
      .nav-d2 {
        display: none;
      }
    }
    .ham-menu {
      display: block;
      span {
        display: block;
      }
    }
  }
  .off-screen-menu.active {
    right: 40px;
  }
  .sec1 {
    padding: 100px 20px;
    .product {
      width: 100%;
      flex-direction: column;
      align-items: center;
      .d1 {
        width: 100%;
      }
      .d2 {
        align-items: center;
        width: 100%;
        /*  align-items: center; */
        flex-direction: column;
        .left-div {
          width: 90%;
          /* background-color: red; */
          .titlediv {
            width: 100%;
          }
          .imgdiv {
            width: 100%;
            img {
              width: 70%;
            }
          }
        }
        .right-div {
          width: 90%;
          .rating {
            width: 100%;
          }
        }
      }
      .d3 {
        width: 90%;
        flex-direction: column;
      }
    }
  }
  footer {
    height: 400px;
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around;
    .first {
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: -70px;
    }
    .second {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 550px) {
  .sec1 {
    .product {
      .d1 {
        align-items: center;
        justify-content: center;
        text-align: center;
        .rotation {
          display: none;
        }
      }
      .d2 {
        .right-div {
          .button-divs {
            width: 100%;
            .add-cart-like {
              width: 100%;
              button:nth-child(1) {
                width: 100%;
              }
            }
            .buy-nowdiv {
              button {
                width: 100%;
              }
            }
          }
          .prod-infodiv {
            width: 100%;

            .accordion-wrapper {
              width: 100%;
              .accordion {
                width: 100%;
                .accordion-heading {
                  width: 100%;
                }
                .accordion-content {
                  width: 100%;
                }
              }
            }
          }
        }
        .left-div {
          .imgdiv {
            height: 300px;
            img {
              height: 300px;
            }
          }
        }
      }
      .d3 {
        .rating-diagram {
          width: 100%;
          .diagram {
            width: 100%;
            .diag1 {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
