@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navigation */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: rgba(18, 18, 18, 0.7);
  z-index: 1;
}
nav .navigation {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
nav .navigation .title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}
nav .navigation .title a .s1 {
  color: #7b7777;
}
nav .navigation .nav-d2 {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .navigation .nav-d2 .menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .navigation .nav-d2 .menu .ul1 {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
nav .navigation .nav-d2 .menu .ul1 a {
  color: #7b7777;
  text-decoration: none;
  font-size: 14px;
}
nav .navigation .nav-d2 .menu .ul1 a:hover {
  color: white;
}
nav .navigation .nav-d2 .menu .ul1 button {
  height: 30px;
  background-color: inherit;
  border: none;
  color: #7b7777;
  transform: translateY(-2px);
}
nav .navigation .nav-d2 .menu .ul1 .dropdown a {
  display: block;
  margin-top: 10px;
}
nav .navigation .nav-d2 .menu .ul1 .dropdown .content {
  display: none;
  width: 120px;
  height: 140px;
  text-align: center;
  position: absolute;
  transform: translateX(-30px);
  margin-top: 0px;
  background: rgba(18, 18, 18, 0.7);
}
nav .navigation .nav-d2 .menu .ul1 .dropdown {
  display: inline-block;
}
nav .navigation .nav-d2 .menu .ul1 .dropdown:hover .content {
  display: block;
  color: white;
}
nav .navigation .nav-d2 .menu .ul1 .dropdown a:hover {
  color: white;
}
nav .navigation .nav-d2 .search input {
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #7b7777;
  height: 40px;
  color: white;
  padding-left: 10px;
  position: relative;
}
nav .navigation .nav-d2 .search i {
  color: #7b7777;
  position: relative;
  left: -30px;
}
nav .navigation .nav-d2 .login-in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .navigation .nav-d2 .login-in i {
  color: #7b7777;
  font-size: 20px;
}
nav .navigation .nav-d2 .login-in .btnLogin-popup {
  background-color: transparent;
  color: #7b7777;
  border: none;
  font-size: 14px;
}
nav .navigation .nav-d2 .login-in .btnLogin-popup:hover {
  color: white;
  cursor: pointer;
}
nav .navigation .nav-d2 .basket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
nav .navigation .nav-d2 .basket i {
  color: #7b7777;
  font-size: 20px;
}
nav .navigation .nav-d2 .basket a {
  color: white;
  text-decoration: none;
}
nav .ham-menu {
  height: 50px;
  width: 30px;
  margin-left: auto;
  position: relative;
  display: none;
}
nav .ham-menu span {
  height: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, 0%);
  transition: 0.3s ease;
  display: none;
}
nav .ham-menu span:nth-child(1) {
  width: 100%;
  top: 28%;
}
nav .ham-menu span:nth-child(2) {
  /*  transform: translateX(-22px); */
  width: 100%;
  /* top: 25%; */
}
nav .ham-menu span:nth-child(3) {
  width: 100%;
  top: 70%;
}

@media (max-width: 1000px) {
  nav {
    max-width: 100%;
    width: 100%;
    padding: 10px;
  }
  nav .navigation {
    width: 100%;
  }
  nav .navigation .nav-d2 {
    display: none;
  }
  nav .ham-menu {
    display: block;
  }
  nav .ham-menu span {
    display: block;
  }
  .off-screen-menu.active {
    right: 40px;
  }
}
/* hamburger menu */
.off-screen-menu {
  background-color: rgb(4, 4, 4);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  right: -2030px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu .nav-d2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.off-screen-menu .nav-d2 .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.off-screen-menu .nav-d2 .menu .ul1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.off-screen-menu .nav-d2 .menu .ul1 a {
  color: #7b7777;
  text-decoration: none;
  font-size: 14px;
}
.off-screen-menu .nav-d2 .menu .ul1 a:hover {
  color: white;
}
.off-screen-menu .nav-d2 .menu .ul1 button {
  height: 30px;
  background-color: inherit;
  border: none;
  color: #7b7777;
  transform: translateY(-2px);
}
.off-screen-menu .nav-d2 .menu .ul1 .dropdown a {
  display: block;
  margin-top: 10px;
}
.off-screen-menu .nav-d2 .menu .ul1 .dropdown .content {
  display: none;
  width: 120px;
  height: 140px;
  text-align: center;
  position: absolute;
  transform: translateX(-30px);
  margin-top: 0px;
  background: rgba(18, 18, 18, 0.7);
}
.off-screen-menu .nav-d2 .menu .ul1 .dropdown {
  display: inline-block;
}
.off-screen-menu .nav-d2 .menu .ul1 .dropdown:hover .content {
  display: block;
  color: white;
}
.off-screen-menu .nav-d2 .menu .ul1 .dropdown a:hover {
  color: white;
}
.off-screen-menu .nav-d2 .search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.off-screen-menu .nav-d2 .search input {
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #7b7777;
  height: 40px;
  color: white;
  padding-left: 10px;
  position: relative;
}
.off-screen-menu .nav-d2 .search i {
  color: #7b7777;
  position: relative;
  left: -30px;
  font-size: 22px;
}
.off-screen-menu .nav-d2 .login-in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.off-screen-menu .nav-d2 .login-in i {
  color: #7b7777;
  font-size: 20px;
}
.off-screen-menu .nav-d2 .login-in .btnLogin-popup {
  background-color: transparent;
  color: #7b7777;
  border: none;
  font-size: 14px;
}
.off-screen-menu .nav-d2 .login-in .btnLogin-popup:hover {
  color: white;
  cursor: pointer;
}
.off-screen-menu .nav-d2 .basket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.off-screen-menu .nav-d2 .basket i {
  color: #7b7777;
  font-size: 20px;
}
.off-screen-menu .nav-d2 .basket a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.off-screen-menu.active {
  right: 0px;
}

/* section */
section {
  width: 100%;
  height: 700px;
  background-color: #020202;
  color: white;
  padding-top: 130px;
  display: flex;
  justify-content: center;
}
section .section-div {
  width: 980px;
  display: flex;
  flex-direction: column;
}
section .section-div .faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
}
section .section-div .frequently {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  z-index: 0;
  overflow: hidden;
}
section .section-div .frequently .freq1 {
  width: 660px;
  display: flex;
  justify-content: end;
  text-align: center;
  z-index: 1;
}
section .section-div .frequently .freq1 .h2Remove.active {
  display: none;
}
section .section-div .frequently .freq2 {
  width: 30%;
  display: flex;
  justify-content: end;
  /* position: relative; */
}
section .section-div .frequently .freq2 .searchButton {
  top: 15px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  border: none;
  font-size: 17px;
}
section .section-div .frequently input {
  width: 100%;
  height: 35px;
  background-color: inherit;
  border: 1px solid white;
  position: absolute;
  outline: none;
  top: 10px;
  z-index: 0;
  display: none;
  padding-left: 40px;
}
section .section-div .frequently .searchInp.active {
  display: block;
  animation: inputAnim 1s ease;
}
section .section-div .frequently .searchButton.active {
  position: absolute;
  left: 12px;
}
@keyframes inputAnim {
  from {
    right: -1500px;
  }
  to {
    right: 0px;
  }
}
section .section-div .acc {
  width: 100%;
}
section .section-div .acc .accordion-wrapper .accordion {
  display: flex;
  flex-direction: column;
}
section .section-div .acc .accordion-wrapper .accordion .accordion-heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid white;
}
section .section-div .acc .accordion-wrapper .accordion .accordion-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
  animation: accordAnim 0.2s linear backwards;
  transform-origin: top;
}
section .section-div .acc .accordion-wrapper .accordion .accordion-content .iconDiv {
  display: flex;
  align-items: center;
  gap: 15px;
}
section .section-div .acc .accordion-wrapper .accordion.active .accordion-content {
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
section .section-div .acc .accordion-wrapper .accordion.active .arrow {
  transform: rotate(180deg);
}
section .section-div .acc .accordion-wrapper .accordion.active .accordion-heading {
  border: none;
}
@keyframes accordAnim {
  0% {
    transform: scaleY(0);
  }
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  box-shadow: 10px 0px 10px 0px black;
  display: flex;
  background-color: #1a1919;
  align-items: center;
  justify-content: space-around;
  color: #a29c9c;
}
footer a {
  color: #a29c9c;
  transition: 0.2s;
}
footer a:hover {
  color: white;
}
footer .first {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .second {
  width: 45%;
  display: flex;
  justify-content: start;
  gap: 20px;
}
footer .second ul {
  list-style: none;
}

/* fixxed divs */
.social1 {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  bottom: 380px;
  right: 0px;
  position: fixed;
}
.social1 a {
  transition: 0.2s;
  color: white;
}
.social1 a:nth-child(1):hover {
  color: rgb(0, 76, 255);
}
.social1 a:nth-child(2):hover {
  color: rgb(255, 0, 0);
}
.social1 a:nth-child(3):hover {
  color: rgb(195, 0, 255);
}

.txtMessage {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  bottom: 50px;
  right: 15px;
  box-shadow: 0px 0px 3px 0px white;
  position: fixed;
}
.txtMessage i {
  transition: 0.2s;
}
.txtMessage i:hover {
  cursor: pointer;
  color: grey;
}

@media (max-width: 1000px) {
  nav {
    max-width: 100%;
    width: 100%;
    padding: 10px;
  }
  nav .navigation {
    width: 100%;
  }
  nav .navigation .nav-d2 {
    display: none;
  }
  nav .ham-menu {
    display: block;
  }
  nav .ham-menu span {
    display: block;
  }
  .off-screen-menu.active {
    right: 40px;
  }
  footer {
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around;
  }
  footer .first {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -70px;
  }
  footer .second {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  section {
    padding-inline: 50px;
  }
  .social1 {
    display: none;
  }
  .txtMessage {
    width: 100%;
    height: 40px;
    font-size: 20px;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 700px) {
  section .section-div .frequently {
    height: 200px;
  }
  section .section-div .frequently .freq1 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */